@font-face {
    font-family: Basefont-iransans;
    src: url(/Font/IRANSans.ttf);
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: Basefont-iransans;
}

